{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/login.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="login-content">
        {{ form_start(registrationForm) }}
            <h3 class="uptitle">Register.</h3>
            <div class="login-form">
                <div class="inputs">

                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                </div>
                <div class="btn">
                    <a href="{{ path('accueil') }}">
                        <i class="bi bi-arrow-left-square-fill"></i>
                    </a>
                    <button type="submit">
                        <i class="bi bi-person-plus-fill"></i>
                    </button>
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
