{% extends 'base.html.twig' %}

{% block body %}
       <section class="dashboard">
              <div class="element">
                     <h1>{{ 'Create Goal'|trans }}</h1>
                     {{ form_start(form) }}
                     {{ form_row(form.targetAmount) }}
                     {{ form_row(form.deadline) }}
                     {{ form_row(form.description) }}
                     <button type="submit" class="btn btn-primary">{{ 'Add goal'|trans }}</button>
                     {{ form_end(form) }}
              </div>

       </section>
{% endblock %}

{% block javascripts %}

{% endblock %}