{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create Income</h1>

    {{ form_start(form) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.date) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-primary">Ajouter une Income</button>
    {{ form_end(form) }}
{% endblock %}