{% extends 'base.html.twig' %}
{% block body %}
<section class="dashboard">
    <div class="element">
        <h2>{{ 'Welcome to your profile'|trans }}: {{ username }}</h2>
        <p>{{ 'Your username'|trans }} : {{ username }}</p>
        <p>{{ 'Your email'|trans }} : {{ email }}</p>
    </div>
    <div class="element">
        <h2>{{ 'Modify Username'|trans }} : {{ username }}</h2>
        <form method="post" action="{{ path('change_username') }}">
            <label for="new_username">{{ 'New Username'|trans }}:</label>
            <input type="text" id="new_username" name="new_username" required>
            <button type="submit">{{ 'Update Username'|trans }}</button>
        </form>
    </div>
    <div class="element">
        <h2>{{ 'Delete Profil'|trans }}</h2>

        <p>{{ 'Are you sure you want to delete the user with the username'|trans }} "{{ app.user.username }}"?</p>

        <form method="post">
            <button type="submit">{{ 'Delete User'|trans }}</button>
        </form>
    </div>
</section>
{% endblock %}

{% block javascripts %}

{% endblock %}