{% extends 'base.html.twig' %}
{% block body %}
<section class="dashboard">
    <div class="element">
        <h2>Bienvenue sur votre profil : {{ username }}</h2>
        <p>Votre username : {{ username }}</p>
        <p>Votre email : {{ email }}</p>
    </div>
    <div class="element">
        <h2>Modifier votre nom utilisateur : {{ username }}</h2>
        <form method="post" action="{{ path('change_username') }}">
            <label for="new_username">New Username:</label>
            <input type="text" id="new_username" name="new_username" required>
            <button type="submit">Update Username</button>
        </form>
    </div>
    <div class="element">
        <h2>Delete votre profil</h2>

        <p>Are you sure you want to delete the user with the username "{{ app.user.username }}"?</p>

        <form method="post">
            <button type="submit">Delete User</button>
        </form>
    </div>
</section>
{% endblock %}

{% block javascripts %}

{% endblock %}