{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pages/recap.css') }}">
{% endblock %}

{% block body %}
    <section class="dashboard">
        <div class="element">
            <h1>Tableau récapitulatif</h1>

            <div class="filter-links">
                <a href="{{ path('recap', {'id': account.id}) }}">All</a>
                {% for category in uniqueCategories %}
                    <a href="{{ path('recap', {'id': account.id, 'categoryFilter': category, 'typeFilter': typeFilter}) }}">{{ category }}</a>
                {% endfor %}
            </div>

            <div class="type-filter-links">
                <a href="{{ path('recap', {'id': account.id}) }}">All Types</a>
                <a href="{{ path('recap', {'id': account.id, 'typeFilter': 'Income'}) }}">Income</a>
                <a href="{{ path('recap', {'id': account.id, 'typeFilter': 'Expense'}) }}">Expense</a>
            </div>

            <table>
                <thead>
                <tr>
                    <th>id</th>
                    <th>type</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {% for item in recapItems %}
                    {% if (typeFilter is null or item.type == typeFilter) and (categoryFilter is null or item.categoryName == categoryFilter) %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td style="color: {{ item.type == 'Income' ? 'green' : 'red' }}">
                                {{ item.type }}
                            </td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.date|date('d-m-Y') }}</td>
                            <td style="color: {{ item.type == 'Income' ? 'green' : 'red' }}">
                                {{ item.type == 'Income' ? '+' : '-' }}  {{ item.amount }}
                            </td>
                            <td>{{ item.categoryName }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

{% endblock %}