<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}RatWallet.{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/base.css') }}">
       
        <!-- Tooltiper.js init -->
        <!-- https://github.com/KaazDW/Tooltiper -->
        <link rel="stylesheet" href="{{ asset('tooltiper/tooltiper.css') }}" />
        <script src="{{ asset('tooltiper/tooltiper.js') }}"></script>

        <!-- ApexCharts.js init -->
        <!-- https://apexcharts.com/docs/installation/ -->
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

        {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
        {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
    </head>

    <body>
        {% if app.user %}
        <header>
            <div class="user">
                <img src="{{ asset('assets/images/logo/rW-logo-icon-white.png') }}" class="icon" alt="Logo du site">
                <span>{{ app.user.username }}.</span>
            </div>
            <h1 class="uptitle">ratWallet.</h1>
        </header>
        {% endif %}

        <main>
            {% if app.user %}
                <aside>
                    <div class="main">
                            <!-- ACCOUNT DIV -->
                            {{ render(controller(
                                'App\\Controller\\DashboardController::accountList'
                            )) }}
                    </div>
                    <!-- <div class="language-switcher">
                        <a href="{{ path('change_language', {'lang': 'en_GB'}) }}">English</a>
                        <a href="{{ path('change_language', {'lang': 'fr_FR'}) }}">Français</a>
                    </div> -->

                    <div class="bottom element">
                        <ul class="bot">
                            <li><a class="btn btn-success" href="{{ path('export_excel') }}"><i style="margin-right: 10px;" class="bi bi-clipboard-data-fill"></i>{{ 'Export Data'|trans }}</a></li>
                            <li><a class="case" href="{{ path('profile') }}"><i style="margin-right: 10px;" class="bi bi-person-fill"></i>{{ 'Profil'|trans }}</a></li>
                            <li><a class="case btn" href="{{ path('app_logout') }}"><i style="margin-right: 10px;" class="bi bi-door-open-fill"></i>{{ 'Log out'|trans }}</a></li>
                        </ul>
                    </div>
                </aside>
            {% endif %}

            {% block body %}
            {% endblock %}
        </main>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.body.classList.add('loaded'); // for opacity body animation on load
            });
        </script>
    </body>
</html>
