<ul>
    <div class="element">
        <li>
            <i style="margin-right: 10px;" class="bi bi-house-fill"></i>
            <a href="{{ path('dashboard') }}">{{ 'Global Dashboard'|trans }}</a>
        </li>   
    </div>
    {% for account in accounts %}
    <div class="element">
        <li style="display: flex; justify-content: space-between; align-items: center;">
            <a href="{{ path('detailsAccount', {'id': account.id,'type': 'income'}) }}" class="tooltip-container" data-tooltip="Create Income or Expense">
                <i style="margin-right: 10px;" class="bi bi-person-vcard-fill"></i>{{ account.nameAccount }}
            </a>
            <!-- <div> -->
                <!-- <a href="{{ path('delete_account',{'id': account.id}) }}" class="tooltip-container" data-tooltip="Delete this account"><i class="bi bi-trash3"></i></a> -->
                <!-- <a href="{{ path('create_goal',{'id': account.id}) }}" class="tooltip-container" data-tooltip="Go to account's settings"><i class="bi bi-gear"></i></a> -->
                <!-- <a href="{{ path('recap',{'id': account.id}) }}" class="tooltip-container" data-tooltip="Chart"><i class="bi bi-table"></i></a> -->
                <!-- <a href="{{ path('create_debt',{'id': account.id}) }}"> debt | </a>-->
            <!-- </div> -->
        </li>
    </div>
    {% endfor %}
    {% if app.user.getNbAccount()|length < 3 %}
        <div class="element">
            <li><a href="{{ path('new_account') }}"><i style="margin-right: 10px;" class="bi bi-file-earmark-plus-fill"></i>{{ 'Create a new account'|trans }}</a></li>
        </div>
    {% else %}
        <button id="openPopupButton">{{ 'Open Popup'|trans }}</button>

        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close" id="closePopupButton">&times;</span>
                <p>{{ 'You have reached the maximum number of accounts.'|trans }}</p>
            </div>
        </div>
    {% endif %}
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flashError }}
        </div>
    {% endfor %}
</ul>
