<ul>
    {% for account in accounts %}
        <li>
            <a href="{{ path('detailsAccount', {'id': account.id}) }}">
                {{ account.nameAccount }}
            </a>
            <a href="{{ path('delete_account',{'id': account.id}) }}"><i class="bi bi-trash3"></i></a>
            <a href="{{ path('create_goal') }}"><i class="bi bi-gear"></i></a>
        </li>
    {% endfor %}
    {% if app.user.getNbAccount()|length < 3 %}
            <li><a href="{{ path('new_account') }}">Créer un compte</a></li>
    {% else %}
        <li>Vous avez atteint dddsfsdfe nombre maximum de comptes.</li>
    {% endif %}
</ul>